<p-card styleClass="pcard">
    <p class="text-center text-3xl m-auto font-bold">Consultar Produtos</p>
    <p-table [value]="produtos" styleClass="p-datatable-striped" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="grid">
                <div class="flex justify-content-start col">
                    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-raised" (click)="showDialog()"></button>
                </div>
                <div class="flex justify-content-end col-1">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="Pesquisar..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Margem</th>
                <th>Valor</th>
                <th>Quantidade</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-produto>
            <tr>
                <td>{{produto.id}}</td>
                <td>{{produto.descricao}}</td>
                <td>{{produto.margem}}</td>
                <td>{{produto.valor | currency:'BRL'}}</td>
                <td>{{produto.quantidade}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<p-dialog header="Cadastrar Produto" [(visible)]="display" [modal]="true">
    <app-cadastrar-produto></app-cadastrar-produto>
</p-dialog>