<form [formGroup]="form" (keyup.enter)="cadastrarCliente()">
    <div class="p-fluid formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="nome">Nome</label>
            <input pInputText id="nome" type="text" formControlName="nome"
                class="text-base text-color p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            <div *ngIf="nome?.dirty || nome?.touched">
                <small *ngIf="nome?.errors?.['required']" id="name-help" class="p-error">Campo nome
                    obrigatório.</small>
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <label for="cpf_cnpj">CPF/CNPJ</label>
            <p-inputMask [mask]="mask" [size]="15" [unmask]="true" id="cpf_cnpj" formControlName="CPF_CNPJ"
                class="text-base text-color surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </p-inputMask>
            <div *ngIf="CPF_CNPJ?.dirty || CPF_CNPJ?.touched">
                <small *ngIf="CPF_CNPJ?.errors?.['required']" id="cpf_cnpj-help" class="p-error">Campo CPF/CNPJ
                    obrigatório.</small>
            </div>
        </div>
    </div>
    <div class="p-fluid formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="telefone">Telefone</label>
            <p-inputMask mask="(99)-99999-9999" [unmask]="true" id="telefone" formControlName="telefone"
                class="text-base text-color surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </p-inputMask>
            <div *ngIf="telefone?.dirty || telefone?.touched">
                <small *ngIf="telefone?.errors?.['required']" id="telefone-help" class="p-error">Campo telefone
                    obrigatório.</small>
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <label for="email">Email</label>
            <input pInputText id="email" type="text" formControlName="email"
                class="text-base text-color p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
    </div>
</form>
<div class="grid">
    <div class="flex justify-content-end col">
        <button pButton pRipple type="button" label="Limpar" class="p-button-danger p-button-raised mr-2"
            (click)="limpar()"></button>
        <button *ngIf="!cliente" pButton pRipple type="button" label="Cadastrar" class="p-button-info p-button-raised"
            (click)="cadastrarCliente()"></button>
        <button *ngIf="cliente" pButton pRipple type="button" label="Salvar" class="p-button-info p-button-raised"
            (click)="editarCliente()"></button>
    </div>
</div>