<div class="grid">
    <div class="col">
        <p-card header="Ordens de Serviço Pendente">
            <ul class="list-disc">
                <li>
                    Gol G3 troca amortecedor - Cliente abc
                </li>
                <li>
                    F250 rebaixamento - Cliente abc
                </li>
                <li>
                </li>
            </ul>
        </p-card>
    </div>
</div>
<p-divider></p-divider>
<div class="grid">
    <div class="col">
        <p-card header="Avisos">
            <ul class="list-disc">
                <li>
                    Gol G3 troca amortecedor - Cliente abc
                </li>
                <li>
                    F250 rebaixamento - Cliente abc
                </li>
                <li>
                </li>
            </ul>
        </p-card>
    </div>
</div>